{{> header }}

<!-- Main content -->
<div id="single-video" class="main-content col-9 mb-5">
  <div class="row">
    <div class="col-12">

      <!-- Video -->
      <video class="ratio" controls>
        <source src="/uploads/{{ video.url }}" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    
      <div class="meta-content d-flex flex-row justify-content-between mt-3">
        <div class="tags-content">
          {{#if video.tags.length }}
            <!-- Tags -->
            {{#each video.tags}}
              {{>badge this }}
            {{/each}}
          {{else}}
            {{>badge "uncategorized"}}
          {{/if}}
        </div>
        <a class="likes-content" data-id="{{ video._id }}">
          <i class="bi bi-heart-fill"></i><small class="ms-2">{{ video.likes }} likes</small>
        </a>
      </div>
      
      <!-- Title -->
      <h3 class="mt-3">{{ video.name }}</h3>
      <p class="card-text">{{ video.owner.name }}</p>

    </div>
  </div>
</div>

<div class="suggested-video col">
  <h2 class="mb-4">Recent videos</h2>
  <div class="row">
      <div class="card border-0">
        {{#each suggestedVideos }}
          {{> card layout="col-12" }}
        {{/each}}
      </div>
  </div>
</div>

{{> footer }}