{{> header }}

<!-- Main Single Video Container -->
<div class="main-video-content row">
  <!-- Main content -->
  <div id="single-video" class="main-content col-9 height-100">
    <div class="row">
      <div class="col-12">

        <!-- Video -->
        <video class="ratio" controls>
          <source src="/uploads/{{ video.url }}" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      
        <div class="meta-content d-flex flex-row justify-content-between mt-3">
          <div class="tags-content">
            {{#if video.tags.length }}
              <!-- Tags -->
              {{#each video.tags}}
                {{>badge this }}
              {{/each}}
            {{else}}
              {{>badge "uncategorized"}}
            {{/if}}
          </div>
          <a class="likes-content" data-id="{{ video._id }}" title="Add a new like!">
            <i class="bi bi-heart-fill"></i><small class="ms-2">{{ video.likes }} likes</small>
          </a>
        </div>
        
        <!-- Title -->
        <h3 class="mt-3">{{ video.name }}</h3>
        <p class="card-text">{{ video.owner.name }}</p>
        <a role="button" class="btn btn-labeled btn-primary text-white small" href="/uploads/{{ video.url }}" title="Click for video download" download="{{ video.name }}">
          <span class="btn-label"><i class="bi bi-cloud-arrow-down-fill"></i></span>Download video
        </a>
      </div>
    </div>
  </div>

  <!-- Suggested video -->
  <div class="suggested-video col">
    <h2 class="mb-4">Recent videos</h2>
    <div class="row">
        <div class="card border-0">
          {{#each suggestedVideos }}
            {{> card layout="col-12" }}
          {{/each}}
        </div>
    </div>
  </div>
</div>

{{> footer }}