{{> header }}
<!-- Main content -->
<div class="main-content container">
  {{#if own }}
    <h2 class="mb-4">My profile</h2>
    <p>That's your personal info in <b>It's Chilltime</b>:</p>
  {{else}}
    <h2 class="mb-4">Welcome to the {{ user.name }} profile!</h2>
    <p>Check the public {{ user.name }} information and uploaded videos!</p>
  {{/if}}

  <!-- Profile data -->
  <div class="card mb-5">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/images/user.png" class="img-fluid rounded-start" alt="{{ user.name }} photo"/>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          
          <!-- Card title -->
          <h5 class="card-title">
            {{#if own }}
              My profile card
            {{else}}
              {{ user.name }} card
            {{/if}}            
          </h5>

          <!-- User info -->
          <p class="card-text">
            <div class="row mt-4">
              <div class="col-12 col-md-4 fw-bold">Name</div>
              <div class="col">{{ user.name }}</div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4 fw-bold">Email</div>
              <div class="col"><a class="text-decoration-underline" href="mailto:{{ user.email }}">{{ user.email }}</a></div>
            </div>
            <div class="row">
              <div class="col-4 col-md-4 fw-bold">Username</div>
              <div class="col">{{ user.username }}</div>
            </div>
            <div class="row">
              <div class="col-4 col-md-4 fw-bold">Active since</div>
              <div class="col">{{ humanDate user.createdAt }}</div>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    {{#if videos }}
      {{#if own }}
        <h5 class="mb-3">My last uploaded videos</h5>
      {{else}}
        <h5 class="mb-3">Last {{ user.name }} uploaded videos</h5>
      {{/if}}
      {{#each videos }}
        {{> card layout="col-sm-6 col-lg-4 mb-3" }}
      {{/each}}
    {{else}}
      <p class="fst-italic">{{ user.name }} has not uploaded any videos.. (yet)</p>
    {{/if}}
  </div>

</div>
{{> footer }}