<div class="card border-0 {{ layout }}">
  <a href="/video/{{ this._id }}">
    <img src="/uploads/thumbnails/{{ this.thumbnail }}" class="card-img-top rounded-top" alt="{{ this.name }} thumbnail">
  </a>
  <div class="card-body">
    <!-- Tags -->
    <div class="tags-content mb-3">
      {{#if this/tags.length }}
        {{#each this/tags}}
          {{>badge this }} 
        {{/each}}
      {{else}}
        {{>badge "uncategorized" }} 
      {{/if}}
    </div>
    <div class="card-title mb-0"><a href="/video/{{ this._id }}">{{ this.name }}</a></div>
    <p class="card-text mb-0 small"><a href="/user/{{ this.owner.username }}">{{ this.owner.name }}</a></p>
    <p class="likes-content small"><i class="bi bi-heart-fill"></i><span class="ms-2">{{ this.likes }} likes</span></p>
  </div>
</div>